@font-face {font-family:"P22UndergroundCYProBook"; src:url("../fonts/P22UndergroundCYPro-Book.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"P22UndergroundCYProDemi"; src:url("../fonts/P22UndergroundCYPro-Demi.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"P22UndergroundCYProMedium"; src:url("../fonts/P22UndergroundCYPro-Medium.woff") format("woff"); font-weight:normal; font-style:normal}
@font-face {font-family:"P22UndergroundCYProHeavy"; src:url("../fonts/P22UndergroundCYPro-Heavy.woff") format("woff"); font-weight:normal; font-style:normal}

body {min-width:480px; margin:0; padding:0; font:14px/20px "Open Sans", sans-serif; color:#222; background:#fafafa}
body.bg-white {background:#fff}
body.fixed {padding:120px 0 0 0}

a {color:#8cc63e; outline:none; text-decoration:none}
a:hover {text-decoration:underline}

img {border:none}

p {margin:20px 0; padding:0}
h1 {font:35px/35px P22UndergroundCYProDemi, sans-serif; color:#000; margin:35px 0; padding:0; text-transform:uppercase}
h2 {font:20px/20px P22UndergroundCYProDemi, sans-serif; color:#000; margin:70px 0 20px 0; padding:0; text-transform:uppercase}
h3 {font:15px/20px P22UndergroundCYProDemi, sans-serif; color:#000; margin:20px 0; padding:0; text-transform:uppercase}
hr {display:block; width:100%; height:2px; background:#8cc63e; border:none; margin:30px 0 50px 0; padding:0}
ul {margin:20px 0; padding:0; list-style:none}
ul li {margin:10px 0; padding:0 0 0 20px; position:relative}
ul li:before {content:""; display:block; width:8px; height:8px; background:#8cc63e; position:absolute; left:0; top:6px; border-radius:4px}
ol {margin:20px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:10px 0; padding:0 0 0 20px; position:relative}
ol li:before {content:counter(point)'.'; counter-increment:point 1; left:0; position:absolute; top:0; font-weight:bold}
blockquote {font:15px/20px P22UndergroundCYProDemi, sans-serif; color:#000; background:#fff; margin:0; padding:34px 20px 38px 20px; text-transform:uppercase}
table {width:100%; border-collapse:collapse; margin:20px 0; border-bottom:3px solid #8cc63e}
th {background:#8cc63e; text-align:left; padding:23px 20px 17px 20px; vertical-align:top; font:15px/20px P22UndergroundCYProDemi, sans-serif; color:#000; text-transform:uppercase}
td {text-align:left; padding:18px 20px 21px 20px; vertical-align:top; border-top:1px solid #eaeaea}
tr:first-child td {border:none}
form {margin:30px 0; padding:0}

.btn {display:inline-block; vertical-align:top; border:none; color:#000; overflow:visible; font:14px/44px P22UndergroundCYProDemi, sans-serif; width:220px; text-align:center; height:40px; margin:0; padding:0; outline:none; text-transform:uppercase; background:#8cc63e; border-radius:20px; cursor:pointer; -webkit-appearance:none}
.btn:hover {background:#b1e46c; text-decoration:none}
.btn:active {background:#87db15}

@media (max-width:960px) {
    .btn-order {width:100%}
}

.btn-add {display:inline-block; vertical-align:top; border:none; color:#000; overflow:visible; font:12px/44px P22UndergroundCYProMedium, sans-serif; width:220px; text-align:center; height:40px; margin:0; padding:0; outline:none; text-transform:uppercase; background:#eef7e2; border-radius:20px; cursor:pointer; -webkit-appearance:none}
.btn-add:before {content:""; display:inline-block; vertical-align:middle; width:22px; height:22px; background:url(../images/btn-add.png); margin:-4px 10px 0 0}
.btn-add-event:before {width:18px; height:21px; background:url(../images/main-list-icon-3.png)}
.btn-add:hover {background:#b1e46c; text-decoration:none}
.btn-add:active {background:#87db15}

.btn-detail {display:inline-block; vertical-align:top; border:none; color:#000; overflow:visible; font:12px/44px P22UndergroundCYProMedium, sans-serif; width:220px; text-align:center; height:40px; margin:0; padding:0; outline:none; text-transform:uppercase; background:#8cc63e; border-radius:20px; cursor:pointer; -webkit-appearance:none}
.btn-detail:hover {background:#b1e46c; text-decoration:none}
.btn-detail:active {background:#87db15}

.form-error {background:#f9f6f6; text-align:center; margin:20px 0; padding:23px 20px 19px 20px; border:1px solid #fbd5d5}
.form-error-title {color:#ff411b; text-transform:uppercase; font:15px/20px P22UndergroundCYProDemi, sans-serif}
.form-error-text {padding:5px 0 0 0}

.form-success {background:#f9f6f6; text-align:center; margin:20px 0; padding:23px 20px 19px 20px; border:1px solid #fbd5d5}
.form-success-title {color:#8cc63e; text-transform:uppercase; font:15px/20px P22UndergroundCYProDemi, sans-serif}
.form-success-text {padding:5px 0 0 0}

.form-row {margin:20px 0; display:table; width:100%}
.form-label {display:table-cell; vertical-align:top; width:260px; font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; color:#000; padding:12px 0 0 0}
.form-label span {color:#f00}
.form-field {display:table-cell; vertical-align:top}

.form-input input {border:2px solid #8cc63e; font:14px/20px "Open Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 18px 7px 18px; width:100%; height:37px; box-sizing:border-box; outline:none; border-radius:9px; box-shadow:none; background:#fafafa; -webkit-appearance:none}
.form-input input.error {border-color:#ff411b}
.form-input input:focus {border-color:#5c9015}
.form-input-date input {width:160px; background-image:url(../images/input-date.png); background-repeat:no-repeat; background-position:right top}
.form-input-date label.error {display:block}

.form-textarea textarea {border:2px solid #8cc63e; font:14px/20px "Open Sans", sans-serif; color:#000; vertical-align:top; margin:0; padding:6px 18px 7px 18px; width:100%; height:99px; box-sizing:border-box; outline:none; border-radius:9px; box-shadow:none; background:#fafafa; overflow:auto; resize:none; -webkit-appearance:none}
.form-textarea textarea.error {border-color:#ff411b}
.form-textarea textarea:focus {border-color:#5c9015}

.form-hint {padding:2px 0 0 20px; color:#808080}
.form-field label.error {color:#f00; padding:2px 0 0 20px}

.form-checkbox {float:left; padding:0 0 0 27px; position:relative; line-height:17px; cursor:pointer; margin:8px 15px 8px 0; color:#000}
.form-checkbox span {display:block; position:absolute; left:0; top:0; width:17px; height:17px; overflow:hidden; background:url(../images/checkbox.png)}
.form-checkbox span.checked {background-position:left -17px}
.form-checkbox input {position:absolute; left:-99px; top:-99px}
.form-checkbox+label.error {float:left; clear:left}

.form-radio {float:left; padding:0 0 0 27px; position:relative; line-height:17px; cursor:pointer; margin:8px 15px 8px 0}
.form-radio span {display:block; position:absolute; left:0; top:0; width:17px; height:17px; overflow:hidden; background:url(../images/radio.png)}
.form-radio span.checked {background-position:left -17px}
.form-radio input {position:absolute; left:-99px; top:-99px}

.form-field-col {float:left; width:50%; padding:0 10px 0 0; box-sizing:border-box}
.form-field-col+.form-field-col {padding:0 0 0 10px}

.form-select select {width:100%; border:2px solid #8cc63e; font:14px/20px "Open Sans", sans-serif; color:#000; height:37px; margin:0; padding:6px 18px 7px 18px; background:#fafafa; box-sizing:border-box; border-radius:9px}
.form-select label.error {display:block; margin:35px 0 -57px 0}

.form-file-title {display:none; padding:5px 0}
.form-file-input {position:relative; width:140px; height:39px; overflow:hidden; background:#eef7e2; text-align:center; cursor:pointer; text-transform:uppercase; font:12px/41px P22UndergroundCYProBook, sans-serif; color:#000; border-radius:20px}
.form-file-input span {background:url(../images/input-file.png) repeat-x left bottom}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}

.form-required-text {margin:27px 0; padding:0 0 0 260px; color:#393939}
.form-required-text span {color:#f00}

.form-submit {text-align:right; margin:32px 0}

@media (max-width:960px) {
    .form-label {display:block; width:auto; padding:0 0 10px 0}
    .form-field {display:block}
    .form-required-text {padding:0; text-align:center}
    .form-submit .btn {width:100%; height:60px; line-height:64px; border-radius:30px}
}

.pager {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; margin:40px 0 20px 0}
.pager:first-child {margin:0}
.pager a {display:inline-block; vertical-align:top; width:38px; height:22px; margin:0 5px; border:1px solid #8cc63e; font:14px/26px P22UndergroundCYProBook, sans-serif; letter-spacing:0; text-align:center; text-decoration:none; color:#000; border-radius:2px}
.pager a:hover {border-color:#b1e46c}
.pager a:active {border-color:#87db15}
.pager a.active {border-color:#8cc63e; background:#8cc63e}
.pager span {display:inline-block; vertical-align:top; width:38px; height:22px; margin:0 5px; border:1px solid #8cc63e; font:14px/26px P22UndergroundCYProBook, sans-serif; letter-spacing:0; text-align:center; text-decoration:none; color:#000; border-radius:2px}

.articles {width:100%; position:relative; overflow:hidden; margin:35px 0}
h2+.articles {margin-top:0}
.articles-list {font-size:0; line-height:0; letter-spacing:-1px; margin:-15px -10px 0 -10px}
.article {display:inline-block; vertical-align:top; width:25%; padding:0 10px; box-sizing:border-box; margin:20px 0 0 0}
.side+.content .article {width:33.33%}
.article-content {background:#fff; padding:0 20px}
.article-text {padding:0 0 21px 0}
.article-section {font:12px/20px P22UndergroundCYProBook, sans-serif; letter-spacing:0; text-transform:uppercase; padding:22px 0 0 0}
.article-name {font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; letter-spacing:0; color:#000}
.article-anonce {font-size:12px; line-height:20px; letter-spacing:0; color:#000; padding:17px 0 0 0}
.article-tags {font-size:12px; line-height:20px; letter-spacing:0; padding:20px 0 0 0}
.article-tags span {background:#8cc63e; color:#000; display:inline-block; padding:0 2px}
.article-download {border-top:1px solid #f6f6f6; padding:20px 0 25px 0}
.article-download:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.article-download a {float:left; color:#a7a9ac; font-size:10px; line-height:12px; letter-spacing:0; padding:0 0 0 35px}
.article-download a:hover {text-decoration:none}
.article-download a img {float:left; margin:0 0 0 -35px}
.article-download a span {display:block; color:#000; font:12px/12px P22UndergroundCYProBook, sans-serif; text-transform:uppercase; margin:2px 0 -2px 0}
.article-download a:hover span {color:#8cc63e}

@media (max-width:480px) {
    .article,
    .side+.content .article {width:50%}
}

.video-link {line-height:0; position:relative; display:block; vertical-align:top}
.video-link:after {content:""; display:block; width:105px; height:105px; position:absolute; left:50%; top:50%; margin:-53px 0 0 -53px; background:url(../images/play.png)}
.video-link:hover:after {background-position:left -105px}
.video-link:active:after {background-position:left -210px}

header {background:#fff; height:120px}
.header-main {background:none; position:relative; z-index:3; padding:40px 0 0 0}
.header-inner {max-width:940px; padding:0 10px 32px 10px; margin:0 auto}
.header-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.fixed header {background:#8cc63e; position:fixed; left:0; top:0; z-index:9; width:100%; height:60px; box-shadow:0 0 5px rgba(10, 10, 10, .48); padding:0}

.logo {float:left; line-height:0; padding:31px 0 0 0}
.fixed header .logo {width:133px; height:41px; background:url(../images/logo-fixed.png); overflow:hidden; padding:0; margin:8px 0 0 0}
.fixed header .logo img {opacity:0}

.header-social {float:left; padding:44px 0 0 40px}
.header-social a {float:left; width:30px; height:30px; margin:0 0 0 10px; background:url(../images/social.png)}
.header-social a.header-social-vk {background-position:left top}
.header-social a.header-social-vk:hover {background-position:left -30px}
.header-social a.header-social-vk:active {background-position:left -60px}
.header-social a.header-social-fb {background-position:-30px top}
.header-social a.header-social-fb:hover {background-position:-30px -30px}
.header-social a.header-social-fb:active {background-position:-30px -60px}
.header-social a.header-social-in {background-position:-60px top}
.header-social a.header-social-in:hover {background-position:-60px -30px}
.header-social a.header-social-in:active {background-position:-60px -60px}
.fixed .header-social {padding-top:14px}
.fixed .header-social a.header-social-vk,
.header-main .header-social a.header-social-vk {background-position:left -90px}
.fixed .header-social a.header-social-fb,
.header-main .header-social a.header-social-fb {background-position:-30px -90px}
.fixed .header-social a.header-social-in,
.header-main .header-social a.header-social-in {background-position:-60px -90px}

@media (max-width:600px) {
    .header-social {display:none}
}

.menu-link {float:right; margin:49px 0 0 0; width:30px; height:20px; background:url(../images/menu-link.png)}
.menu-link:hover {background-position:left -20px}
.menu-link:active {background-position:left -40px}
.header-main .menu-link {background-image:url(../images/menu-link-main.png)}
.fixed header .menu-link {margin:19px 0 0 0; background-image:url(../images/menu-link-main.png)}

.user-link {float:right; margin:44px 40px 0 0; width:30px; height:30px; background:url(../images/user-link.png)}
.user-link:hover {background-position:left -30px}
.user-link:active {background-position:left -60px}
.header-main .user-link,
.panel .user-link {background-image:url(../images/user-link-main.png)}
.fixed header .user-link {margin-top:14px; background-image:url(../images/user-link-main.png)}

.header-search {float:right; margin:44px 20px 0 0; position:relative}
.fixed header .header-search {margin-top:14px}
.header-search-mobile {display:none; width:30px; height:30px; background:url(../images/header-search-mobile.png)}
.header-search-mobile:hover {background-position:left -30px}
.header-search-mobile:active {background-position:left -60px}
.header-main .header-search-mobile,
.panel .header-search-mobile,
.fixed header .header-search-mobile {background-position:left -90px}
.header-search form {margin:0; padding:0; width:176px; height:26px; border:2px solid #8cc63e; border-radius:15px}
.header-main .header-search form,
.fixed header .header-search form,
.panel .header-search form {border-color:#fff}
.header-search-input {float:left}
.header-search-input input {vertical-align:top; margin:0; padding:8px 14px 4px 14px; outline:none; width:123px; height:14px; font:10px/14px P22UndergroundCYProBook, sans-serif; border:none; background:transparent; color:#000; -webkit-appearance:none}
.header-search-input input::-webkit-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.header-search-input input::-moz-placeholder {color:#000; opacity:1; text-transform:uppercase}
.header-search-input input:-ms-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.header-main .header-search-input input {color:#fff}
.header-main .header-search-input input::-webkit-input-placeholder {color:#fff}
.header-main .header-search-input input::-moz-placeholder {color:#fff}
.header-main .header-search-input input:-ms-input-placeholder {color:#fff}
.fixed header .header-search-input input {color:#fff}
.fixed header .header-search-input input::-webkit-input-placeholder {color:#fff}
.fixed header .header-search-input input::-moz-placeholder {color:#fff}
.fixed header .header-search-input input:-ms-input-placeholder {color:#fff}
.panel .header-search-input input {color:#fff}
.panel .header-search-input input::-webkit-input-placeholder {color:#fff}
.panel .header-search-input input::-moz-placeholder {color:#fff}
.panel .header-search-input input:-ms-input-placeholder {color:#fff}
.header-search-submit {float:right; padding:7px 13px 0 0}
.header-search-submit input {display:block; width:12px; height:12px; border:none; background:url(../images/header-search.png); margin:0; padding:0; outline:none; cursor:pointer; -webkit-appearance:none}
.header-search-submit input:hover {background-position:left -12px}
.header-search-submit input:active {background-position:left -24px}
.header-main .header-search-submit input {background-image:url(../images/header-search-main.png)}
.fixed header .header-search-submit input {background-image:url(../images/header-search-main.png)}
.panel .header-search-submit input {background-image:url(../images/header-search-main.png)}

@media (max-width:960px) {
    .header-inner {padding-left:30px; padding-right:30px}
    .header-search form  {position:absolute; right:100%; margin-right:5px; top:0; display:none; background:#fff}
    .header-main .header-search form {background:rgba(0, 0, 0, .5)}
    .fixed header .header-search form {background:none}
    .panel .header-search form {background:none}
    .header-search.open form {display:block; z-index:2}
    .header-search-mobile {display:block}
}

.container {max-width:940px; margin:0 auto; padding:0 10px}
.container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

@media (max-width:960px) {
    .container {padding:0 30px}
}

.side {float:left; width:140px}

@media (max-width:960px) {
    .side {display:none}
}

.side-menu {text-transform:uppercase; padding:9px 0 0 0}
.side-menu > ul {margin:0; padding:0; list-style:none; font:10px/15px P22UndergroundCYProBook, sans-serif}
.side-menu > ul > li {margin:0; padding:35px 0 0 0}
.side-menu > ul > li:before {display:none}
.side-menu > ul > li > ul {margin:10px 0 0 0; padding:0; list-style:none; font:12px/15px P22UndergroundCYProBook, sans-serif; border-bottom:1px solid #e1e1e1}
.side-menu > ul > li > ul > li {margin:0; padding:0; border-top:1px solid #e1e1e1}
.side-menu > ul > li > ul > li:first-child {border-top:none}
.side-menu > ul > li > a+ul > li:first-child {border-top:1px solid #e1e1e1}
.side-menu > ul > li > ul > li.active {font-family:P22UndergroundCYProMedium, sans-serif}
.side-menu > ul > li > ul > li:before {display:none}
.side-menu > ul > li > ul > li > a {display:block; color:#000; padding:15px 20px 9px 20px; margin:0 -20px; border-radius:20px; position:relative}
.side-menu > ul > li > ul > li > a:hover,
.side-menu > ul > li > ul > li.active > a {text-decoration:none; background:#8cc63e; z-index:2}

.side+.content {margin:0 0 0 240px}

@media (max-width:960px) {
    .side+.content {margin:0}
}

.content-wrap {width:100%; float:left; padding:0 0 80px 0}
.content-wrap h2:first-child {margin-top:44px}

.top {background:#fff}
.top-container {max-width:940px; padding:0 10px 17px 10px; margin:0 auto}
.top-container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.top-container h1 {float:left; margin:9px 0 0 0}
.top-search-link {float:right}
.top-search-link .btn {width:140px; font-size:12px; font-family:P22UndergroundCYProMedium, sans-serif}
.top-search-link .btn:before,
.top-search-link .btn:after {content:""; display:inline-block; vertical-align:middle; width:11px; height:7px; background:url(../images/top-search-arrow.png); margin:-4px 15px 0 15px}
.top-search-link.open .btn:before,
.top-search-link.open .btn:after {background-position:left -7px}
.top-search-link.open {position:relative}
.top-search-link.open:after {content:""; display:block; width:10px; height:21px; position:absolute; left:50%; bottom:-21px; margin:0 0 0 -5px; background:url(../images/search-line.png)}
.top-add-link {float:right; padding:0 20px 0 0}

@media (max-width:960px) {
    .top-container {padding-left:30px; padding-right:30px}
    .top-container h1 {float:none; margin:0; padding:5px 0 22px 0}
    .top-search-link .btn {width:126px}
    .top-add-link {padding:0; float:left}
    .top-add-link .btn-add {width:274px}
    .top-search-link .btn:before {margin-left:0; margin-right:5px}
    .top-search-link .btn:after {margin-right:0; margin-left:5px}
}

.events-detail-info {font:15px/20px P22UndergroundCYProBook, sans-serif; text-transform:uppercase; color:#393939; margin:-13px 0 26px -20px}
.events-detail-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.events-detail-info-item {float:left; margin:0 0 0 20px; padding:2px 0 0 30px}
.events-detail-info-time {background:url(../images/events-detail-info-time.png) no-repeat}
.events-detail-info-place {background:url(../images/events-detail-info-place.png) no-repeat 4px top}

footer {background:#8cc63e}
.footer-inner {max-width:940px; margin:0 auto; padding:0 10px 45px 10px}
.footer-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-logo {float:left; line-height:0; padding:53px 0 0 0; width:19%}
.footer-map {float:left; padding:23px 0 0 0; width:31%}
.footer-map-img {float:left; line-height:0}
.footer-map-text {float:left; padding:0 0 0 5px; position:relative}
.footer-map-title {font:10px/12px P22UndergroundCYProMedium, sans-serif; color:#000; padding:37px 0 0 0; text-transform:uppercase}
.footer-map-link {display:inline-block; vertical-align:top; text-decoration:none; font-size:12px; line-height:14px; color:#000}
.footer-map-link:hover {text-decoration:none}
.footer-map-link span {vertical-align:middle; background:url(../images/dots.png) repeat-x left bottom}
.footer-map-link:hover span {background:none}
.footer-map-link img {vertical-align:middle; margin:4px 0 0 0}
.footer-map-list {display:none; position:absolute; left:-16px; bottom:-11px; background:#0d9c55; width:179px; box-shadow:0 0 10px rgba(0, 0, 0, .3)}
.footer-map-list-link {display:inline-block; vertical-align:top; text-decoration:none; font-size:12px; line-height:14px; color:#fff}
.footer-map-list-link:hover {text-decoration:none}
.footer-map-list-link span {vertical-align:middle; background:url(../images/dots-2.png) repeat-x left bottom}
.footer-map-list-link:hover span{background:none}
.footer-map-list-link img{vertical-align:middle; margin:4px 0 0 0}
.footer-map-list-bottom {background:#008652; padding:9px 0 11px 22px}
.footer-map-list-inner ul {margin:0; padding:0; list-style:none; font-size:12px; line-height:14px}
.footer-map-list-inner ul li{margin:0; padding:9px 22px 10px 22px; border-top:1px solid #008652}
.footer-map-list-inner ul li:before {display:none}
.footer-map-list-inner ul li:first-child {border:none}
.footer-map-list-inner ul li a{color:#fff}
.footer-feedback {float:right; width:138px; height:17px; padding:10px 0 0 0; margin:55px 0 0 0; border:1px solid #000; text-transform:uppercase; color:#000; font:10px/12px P22UndergroundCYProMedium, sans-serif; background:transparent; text-align:center}
.footer-feedback:hover {text-decoration:none; background:#b1e46c}
.footer-feedback:active {background:#87db15}
.footer-contacts {margin:0 150px 0 50%}
.footer-contacts-title {font:10px/12px P22UndergroundCYProMedium, sans-serif; color:#000; padding:56px 0 0 0; text-transform:uppercase}
.footer-contacts-text {font-size:12px; line-height:15px; color:#000; padding:2px 0 0 0}
.footer-text {float:left; width:100%; font-size:12px; line-height:15px; color:#000; padding:25px 0 0 0}

@media (max-width:960px) {
    footer {padding:0 30px}
    .footer-inner {padding:0 0 100px 0; position:relative}
    .footer-map {display:none}
    .footer-feedback {float:none; display:block; margin:0; position:absolute; left:0; bottom:30px; width:100%; height:40px; font-size:15px; line-height:44px; padding:0; box-sizing:border-box}
    .footer-contacts {float:right; margin:0; max-width:200px}
    .footer-contacts-text span {display:none}
}

.main-instagram {background:#efefef}
.main-instagram-inner {max-width:940px; padding:0 10px; margin:0 auto}
.main-instagram-title {text-align:center; color:#000; text-transform:uppercase; font:35px/35px P22UndergroundCYProDemi, sans-serif; padding:45px 0 4px 0; position:relative}
.main-instagram-title:after {content:""; display:inline-block; vertical-align:middle; width:40px; height:40px; background:url(../images/main-instagram-title.png); margin:-10px 0 0 15px}
.main-instagram-title a.btn {font-family:P22UndergroundCYProDemi, sans-serif; position:absolute; right:0; top:39px}
.main-instagram-title a.btn:before {content:""; display:inline-block; width:29px; height:23px; background:url(../images/main-instagram-title-gallery.png); vertical-align:middle; margin:-6px 11px 0 0}
.main-instagram-list {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px; padding:37px 0 0 0}
.main-instagram-item {display:inline-block; width:33.33%; padding:0 10px; box-sizing:border-box}
.main-instagram-item-photo a {position:relative; display:block; color:#fff}
.main-instagram-item-photo a:hover {text-decoration:none}
.main-instagram-item-photo img {width:100%}
.main-instagram-item-photo span {display:block; position:absolute; right:11px; bottom:5px; padding:0 0 0 18px; background:url(../images/main-instagram-likes.png) no-repeat; font:12px/15px P22UndergroundCYProDemi, sans-serif; letter-spacing:0}
.main-instagram-item-place {font:12px/15px P22UndergroundCYProBook, sans-serif; letter-spacing:0; color:#000; margin:22px 0 0 0; padding:1px 0 0 17px; background:url(../images/main-instagram-place.png) no-repeat left top}
.main-instagram-text {text-align:center; text-transform:uppercase; font:15px/20px P22UndergroundCYProMedium, sans-serif; color:#000; padding:54px 0 48px 0}
.main-instagram-text a {font-family:P22UndergroundCYProHeavy, sans-serif}

@media (max-width:960px) {
    .main-instagram-inner {padding:0 30px}
}

@media (max-width:480px) {
    .main-instagram-item {display:none}
    .main-instagram-item:first-child {display:block; width:100%}
}

.main-video {background:#fff}
.main-video-title {color:#000; text-align:center; text-transform:uppercase; font:35px/35px P22UndergroundCYProDemi, sans-serif; padding:46px 0 0 0; position:relative}
.main-video-title:after {content:""; display:inline-block; vertical-align:middle; width:40px; height:40px; background:url(../images/main-video-title.png); margin:-10px 0 0 15px}
.main-video-list {font-size:0; line-height:0; letter-spacing:-1px; max-width:960px; margin:0 auto; padding:41px 0 0 0}
.main-video-item {display:inline-block; width:33.33%; padding:0 10px; box-sizing:border-box; vertical-align:top}
.main-video-item-photo img {width:100%}
.main-video-item-photo a {display:block; position:relative}
.main-video-item-photo a:after {content:""; display:block; width:80px; height:60px; position:absolute; left:50%; top:50%; margin:-30px 0 0 -40px; background:url(../images/main-video.png)}
.main-video-item-title {text-transform:uppercase; font:15px/20px P22UndergroundCYProDemi, sans-serif; color:#000; letter-spacing:0; padding:22px 0 49px 0}

@media (max-width:768px) {
    .main-video-item {width:50%}
}

@media (max-width:480px) {
    .main-video-item {width:100%}
}

.main-info {background:#fff}
.main-info-container {max-width:940px; padding:0 10px 54px 10px; margin:0 auto}
.main-news-title {text-align:center; color:#000; text-transform:uppercase; font:35px/35px P22UndergroundCYProMedium, sans-serif; padding:69px 0 0 0}
.main-news-title a {display:inline-block; vertical-align:middle; width:23px; height:16px; background:url(../images/main-news-title.png); margin:-12px 0 0 8px}
.main-news-title a:hover {background-position:left -16px}
.main-news-title a:active {background-position:left -32px}
.main-news-list {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px; padding:38px 0 0 0}
.main-news-item {display:inline-block; vertical-align:top; width:25%; padding:0 10px; box-sizing:border-box}
.main-news-item-name {text-transform:uppercase; color:#000; font:15px/20px P22UndergroundCYProMedium, sans-serif; letter-spacing:0}
.main-news-item-name a {color:#000}
.main-news-item-anonce {font-size:12px; line-height:15px; letter-spacing:0; padding:10px 0 0 0}
.main-news-item-date {font-size:12px; line-height:15px; letter-spacing:0; color:#8cc63e; padding:15px 0 0 0}

@media (max-width:960px) {
    .main-info-container {padding-left:30px; padding-right:30px}
    .main-news-list  {margin:0; padding:19px 0 0 0}
    .main-news-item {display:block; width:100%; border-top:1px solid #e2f1cf; padding:20px 0 23px 0}
    .main-news-item:first-child {border:none}
}

.main-teasers {margin:0 -10px; padding:40px 0 0 0}
.main-teasers-content {margin:0; padding:1px 0 0 0; background:#fff}
.main-teasers:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-teaser {float:left; width:33.33%; padding:0 10px; box-sizing:border-box}
.main-teasers-content .main-teaser {padding:0}
.main-teaser-img {display:block; position:relative; width:100%; height:0; overflow:hidden; padding:100% 0 0 0; background-size:cover; background-repeat:no-repeat; background-position:center}
.main-teaser-slider {position:relative; width:100%; height:0; overflow:hidden; padding:100% 0 0 0; background:#000}
.main-teasers-content .main-teaser-slider {padding:300px 0 0 0}
.main-teaser-slider ul {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; list-style:none}
.main-teaser-slider ul li {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; background-size:cover; background-repeat:no-repeat; background-position:center}
.main-teaser-slider ul li:first-child {z-index:2}
.main-teaser-slider ul li:before {display:none}
.main-teaser-type {text-transform:uppercase; font:20px/20px P22UndergroundCYProMedium, sans-serif; color:#fff; padding:34px 110px 0 30px}
.main-teaser-name {text-transform:uppercase; font:20px/20px P22UndergroundCYProMedium, sans-serif; color:#fff; padding:47px 20px 0 30px}
.main-teasers-content .main-teaser-name {font-size:30px; line-height:30px; padding-top:68px}
.main-teaser-name a {color:#fff}
.main-teaser-text {color:#fff; font-size:12px; padding:27px 20px 0 30px}
.main-teasers-content .main-teaser-text {padding-top:7px}
.main-teaser-slider-prev,
.main-teaser-slider-next {position:absolute; z-index:3; top:22px; display:block; width:35px; height:35px; background:url(../images/main-teaser-slider-arrows.png)}
.main-teaser-slider-prev {right:70px}
.main-teaser-slider-next {right:30px; background-position:-35px top}
.main-teasers-ctrl {display:none}

@media (max-width:960px) {
    .main-teaser-img {padding:0; height:300px}
    .main-teaser-slider {padding:0; height:300px}
    .main-teaser {float:none; display:none; width:100%}
    .main-teaser:first-child {display:block}
    .main-teasers-ctrl {display:block; font-size:0; line-height:0; letter-spacing:-1px; text-align:center; padding:30px 0 0 0}
    .main-teasers-ctrl a {display:inline-block; vertical-align:top; width:6px; height:6px; border:2px solid #8cc63e; margin:0 3px; border-radius:20px}
    .main-teasers-ctrl a:hover {border-color:#b1e46c}
    .main-teasers-ctrl a:active {border-color:#87db15}
    .main-teasers-ctrl a.active {background:#8cc63e; border-color:#8cc63e; width:12px; height:12px; margin-top:-3px}
}

.slider {height:620px; background:#000; position:relative; margin:-160px 0 0 0}
.fixed .slider {margin:-120px 0 0 0}
.slider-content {position:absolute; left:0; top:0; width:100%; height:100%; color:#fff}
.slider-content a {color:#fff}
.slider-content ul {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; list-style:none}
.slider-content ul li {position:absolute; left:0; top:0; width:100%; height:100%; margin:0; padding:0; background-color:#000; background-size:cover; background-repeat:no-repeat; background-position:center; overflow:hidden}
.slider-content ul li:first-child {z-index:2}
.slider-content ul li:before {display:none}
.slider-container {margin:0 auto; max-width:940px; padding:0 10px}
.slider-title {font:35px/40px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; width:60%; padding:206px 0 0 0}
.slider-text {font-size:12px; line-height:15px; width:60%; padding:23px 0 0 0}
.slider-ctrl {position:absolute; z-index:3; left:0; bottom:116px; width:100%; text-align:center; font-size:0; line-height:0; letter-spacing:-1px}
.slider-ctrl a {display:inline-block; vertical-align:middle; width:8px; height:8px; border:1px solid #fff; border-radius:5px; margin:0 2px}
.slider-ctrl a.active {background:#fff}

@media (max-width:960px) {
    .slider-container {padding:0 30px}
    .slider-title {font-size:30px; line-height:35px; padding-top:196px; width:auto}
    .slider-text {width:auto}
}

.main {position:relative; z-index:3}

.main-list {max-width:960px; margin:0 auto; font-size:0; line-height:0; letter-spacing:-1px; padding:40px 0 0 0}
.main-list-item {display:inline-block; vertical-align:top; width:33.33%; padding:0 10px; box-sizing:border-box; text-transform:uppercase; color:#fff}
.main-list-item-container {padding:0 20px; height:440px; background-color:#000; background-position:center; background-repeat:no-repeat; position:relative; background-size:cover}
.main-list-item-1 .main-list-item-container {background-image:url(../images/main-list-item-1.jpg)}
.main-list-item-2 .main-list-item-container {background-image:url(../images/main-list-item-2.jpg)}
.main-list-item-3 .main-list-item-container {background-image:url(../images/main-list-item-3.jpg)}
.main-list-item-type {font:20px/20px P22UndergroundCYProHeavy, sans-serif; letter-spacing:0; padding:34px 0 0 0}
.main-list-item-type a {color:#fff}
.main-list-item-name {font:30px/30px P22UndergroundCYProDemi, sans-serif; letter-spacing:0; padding:66px 0 0 0}
.main-list-item-name a {color:#fff}
.main-list-item-links {position:absolute; left:0; bottom:20px; width:100%; padding:0 20px; box-sizing:border-box}
.main-list-item-links .btn {display:block; width:100%; font-size:12px; font-family:P22UndergroundCYProMedium, sans-serif; letter-spacing:0; margin:0 0 10px 0}
.main-list-item-links .btn img {vertical-align:middle; margin:-6px 7px 0 0}

@media (max-width:960px) {
    .main-list-item {width:100%; padding-bottom:20px}
    .main-list-item-container {height:280px}
    .main-list-item-1 .main-list-item-container {background-image:url(../images/main-list-item-1-mobile.jpg)}
    .main-list-item-2 .main-list-item-container {background-image:url(../images/main-list-item-2-mobile.jpg)}
    .main-list-item-3 .main-list-item-container {background-image:url(../images/main-list-item-3-mobile.jpg)}
    .main-list-item-type {font-size:15px; font-family:P22UndergroundCYProBook, sans-serif; padding:33px 0 0 0}
    .main-list-item-name {font-size:20px; line-height:20px; padding:32px 0 0 0}
}

.main-apps {max-width:940px; margin:0 auto; padding:20px 0 0 0}
.main-apps:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-apps-img {float:left; width:358px; height:440px; background:url(../images/main-apps.png); margin:0 -81px 0 -57px}
.main-apps-item {float:left; width:220px; margin:80px 0 0 20px}
.main-apps-item-link {display:block; width:204px; height:204px; margin:0 auto; background:#8cc63e; border-radius:102px; box-shadow:9px 9px 21px rgba(80, 122, 23, .43); color:#000; text-align:center; text-transform:uppercase; font:15px/15px P22UndergroundCYProHeavy, sans-serif}
.main-apps-item-link:hover {text-decoration:none; background:#b1e46c}
.main-apps-item-link:active {background:#87db15}
.main-apps-icon-1 {line-height:0; padding:39px 0 21px 0}
.main-apps-icon-2 {line-height:0; padding:39px 0 36px 0}
.main-apps-icon-3 {line-height:0; padding:36px 0 32px 0}
.main-apps-item-text {font:12px/15px P22UndergroundCYProMedium, sans-serif; text-transform:uppercase; color:#000; text-align:center; padding:24px 0 0 0}
.main-apps-item-text-2 {font:12px/15px P22UndergroundCYProHeavy, sans-serif; text-transform:uppercase; color:#000; text-align:center; padding:20px 0 0 0}
.main-apps-mobile {padding:11px 0 0 0}
.main-apps-appstore {float:left; width:108px; height:32px; background:url(../images/main-apps-appstore.png)}
.main-apps-googleplay {float:right; width:108px; height:32px; background:url(../images/main-apps-googleplay.png)}
.main-apps-item-text-mobile {display:none}
.main-apps-mobile-mobile {display:none}

@media (max-width:960px) {
    .main-apps {text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
    .main-apps-img {display:none}
    .main-apps-item {float:none; display:inline-block; vertical-align:top; width:126px; margin:37px 10px 0 10px}
    .main-apps-item-link {width:126px; height:126px; letter-spacing:0; position:relative}
    .main-apps-icon-1 {padding:33px 0 0 0}
    .main-apps-icon-2 {padding:30px 0 0 0}
    .main-apps-icon-3 {padding:33px 0 0 0}
    .main-apps-item-text {display:none}
    .main-apps-item-text-2 {display:none}
    .main-apps-item-link-text {position:absolute; left:-10px; top:100%; width:146px; margin-top:22px; font-size:12px}
    .main-apps-mobile {display:none}
    .main-apps-item-text-mobile {display:block; font:12px/15px P22UndergroundCYProBook, sans-serif; text-transform:uppercase; color:#000; text-align:center; margin:83px 0 0 0}
    .main-apps-mobile-mobile {display:block; padding:16px 0 52px 0; text-align:center; font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
    .main-apps-appstore-mobile {display:inline-block; vertical-align:top; width:200px; height:57px; background:url(../images/main-apps-appstore-mobile.png); margin:0 20px 0 0}
    .main-apps-googleplay-mobile {display:inline-block; vertical-align:top; width:200px; height:57px; background:url(../images/main-apps-googleplay-mobile.png)}
}

.main-tabs {float:left; width:100%; margin:-70px 0 0 0; height:70px}
.main-tabs ul {padding:0; list-style:none; max-width:960px; margin:0 auto}
.main-tabs li {float:left; margin:0; padding:10px 10px 0 10px; box-sizing:border-box; width:33.33%}
.main-tabs li.active {padding-top:0}
.main-tabs li:before {display:none}
.main-tabs li a {display:block; position:relative; text-transform:uppercase; color:#fff; text-align:center; height:50px}
.main-tabs li.active a {height:60px; background:#fff; border-radius:25px 25px 0 0; color:#000; padding-top:10px}
.main-tabs li.active a {background:#8cc63e}
.main-tabs li+li.active a {background:#98cc52 url(../images/main-tabs-2.png) no-repeat left bottom}
.main-tabs li+li+li.active a {background:#fff url(../images/main-tabs-3.png) no-repeat}
.main-tabs li a:hover {text-decoration:none}
.main-tabs li a:before {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; box-sizing:border-box; border:1px solid #fff; border-radius:25px; opacity:.25}
.main-tabs li a:hover:before {opacity:1}
.main-tabs li.active a:before {left:-23px; top:auto; bottom:0; width:24px; height:24px; border:none; border-radius:0; opacity:1; background:url(../images/main-tabs-corners.png)}
.main-tabs li.active a:before {background-position:left -72px}
.main-tabs li+li.active a:before {background-position:left -48px}
.main-tabs li+li+li.active a:before {background-position:left -24px}
.main-tabs li.active a:after {content:""; display:block; position:absolute; right:-23px; bottom:0; width:24px; height:24px; background:url(../images/main-tabs-corners.png) -24px top}
.main-tabs li.active a:after {background-position:-24px -72px}
.main-tabs li+li.active a:after {background-position:-24px -48px}
.main-tabs li+li+li.active a:after {background-position:-24px top}
.main-tabs-text-1 {font:15px/18px P22UndergroundCYProHeavy, sans-serif; position:relative; padding:11px 0 0 0}
.main-tabs-text-2 {font:12px/18px P22UndergroundCYProBook, sans-serif; position:relative}

@media (max-width:960px) {
    .main-tabs-text-1 {font-size:12px}
    .main-tabs li.active a {background:#8cc63e}
    .main-tabs li+li.active a {background:#98cc52}
    .main-tabs li+li+li.active a {background:#fff}
    .main-tabs li.active a:before {background-position:left -72px}
    .main-tabs li+li.active a:before {background-position:left -48px}
    .main-tabs li+li+li.active a:before {background-position:left top}
    .main-tabs li.active a:after {background-position:-24px -72px}
    .main-tabs li+li.active a:after {background-position:-24px -48px}
    .main-tabs li+li+li.active a:after {background-position:-24px top}
}

.main-tabs-content {position:absolute; left:-9999px; top:-9999px; width:100%}
.main-tabs-content.active {position:relative; left:auto; top:auto}
.main-tabs-content-1 {background:#8cc63e}
.main-tabs-content-2 {background:#8cc63e url(../images/main-tabs-content-2.png) no-repeat center top}
.main-tabs-content-3 {background:#fff url(../images/main-tabs-content-3.png) no-repeat center bottom}

.main-tabs-content .articles {max-width:940px; margin:0 auto; padding:23px 0 51px 0}
.main-tabs-content .article-content {padding-top:0}
.main-eco-photo {line-height:0; margin:0 -20px}
.main-eco-photo img {width:100%}
.main-tabs-content .article-text {padding:0}
.main-tabs-content .article-tags {padding-bottom:21px}

@media (max-width:960px) {
    .main-tabs-content-2 {background:#98cc52}
    .main-tabs-content-2 .articles-list {margin-left:0; margin-right:0}
    .main-tabs-content-3 {background:#fff url(../images/main-tabs-content-3-mobile.png) no-repeat center bottom}
    .main-tabs-content .article {width:33.33%}
}

@media (max-width:768px) {
    .main-tabs-content .article {width:50%}
}

.panel {display:none; position:fixed; left:0; top:0; width:100%; height:100%; background:#8cc63e; z-index:10}
.panel.open {display:block}
.panel:before {content:""; display:block; width:50%; height:100%; position:absolute; left:0; top:0; background:#fff}
.panel-container {max-width:940px; margin:0 auto; padding:0 10px; position:relative}
.panel-main .panel-container {padding-top:40px}
.panel-container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.panel-left {float:left; width:50%}
.panel-address {float:left; clear:left; padding:12px 0 0 66px; height:28px; margin:91px 0 0 0; background:url(../images/panel-address.png) no-repeat 10px; color:#000; font:15px/20px P22UndergroundCYProMedium, sans-serif}
.panel-phone {float:left; clear:left; padding:12px 0 0 66px; height:28px; margin:10px 0 0 0; background:url(../images/panel-phone.png) no-repeat 10px; color:#000; font:15px/20px P22UndergroundCYProMedium, sans-serif}
.panel-callback-link {float:left; clear:left; padding:32px 0 0 0; width:65%}
.panel-callback-link .btn {width:100%; color:#fff}

.panel-right {float:right; width:50%}
.panel-menu-link {float:right; margin:48px 4px 0 4px; width:23px; height:22px; background:url(../images/panel-menu-link.png)}

nav {float:right; clear:right; font:15px/20px P22UndergroundCYProMedium, sans-serif; text-transform:uppercase; width:300px; padding:26px 0 0 0}
nav ul {margin:0; padding:0; list-style:none}
nav ul li {margin:0; padding:13px 0 6px 0; border-bottom:1px solid #9dce5b}
nav ul li:before {display:none}
nav ul li a {color:#fff}

.panel-social {float:right; clear:right; width:300px; padding:26px 0 0 0}
.panel-social a {float:left; width:48px; height:48px; margin:0 12px 0 0; background:url(../images/panel-social.png)}
.panel-social a.panel-social-1 {background-position:left top}
.panel-social a.panel-social-2 {background-position:-48px top}
.panel-social a.panel-social-3 {background-position:-96px top}

@media (max-width:960px) {
    .panel:before {display:none}
    .panel-container {padding:0 30px}
    .panel .logo {width:189px; height:57px; background:url(../images/logo-main.png) no-repeat left bottom}
    .panel .logo img {display:none}
    .panel-address,
    .panel-phone,
    .panel-callback-link {display:none}
    nav,
    .panel-social {width:200%}
}

.breadcrumbs {font:15px/20px P22UndergroundCYProBook, sans-serif; text-transform:uppercase; padding:42px 0 0 0}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:7px; height:11px; background:url(../images/breadcrumbs.png); margin:-4px 6px 0 6px}
.breadcrumbs+h1 {margin:6px 0 21px 0}

#map {height:640px}

.map-mini {height:200px; position:relative; overflow:hidden; transition:all .5s ease}
.map-mini.open {height:640px}
.map-mini-open {display:block; position:absolute; left:50%; bottom:0; width:78px; height:20px; background:#fafafa; border-radius:3px 3px 0 0}
.map-mini-open:after {content:""; display:block; width:11px; height:7px; background:url(../images/map-mini-open.png); position:absolute; left:50%; top:7px; margin:0 0 0 -6px}
.map-mini.open .map-mini-open:after {background-position:left -7px}

.gallery {line-height:0; margin:50px 0}
.gallery-big img {width:100%}
.gallery-preview {font-size:0; letter-spacing:-1px; text-align:center; padding:10px 0 0 0}
.gallery-preview a {display:inline-block; vertical-align:middle; width:140px; height:90px; border:4px solid #fafafa; position:relative; overflow:hidden; margin:6px}
.gallery-preview a img {opacity:.5}
.gallery-preview a.active {border-color:#8cc63e}
.gallery-preview a.active img,
.gallery-preview a:hover img {opacity:1}

@media (max-width:960px) {
    .gallery {margin:50px -30px}
    .gallery-preview a {width:90px; height:60px}
}

.search-line {display:none; background:#8cc63e; padding:5px 10px}
.search-line.open {display:block}
.main-tabs-content-1 .search-line {display:block; padding:11px 10px 18px 10px}
.search-line form {margin:0 auto; max-width:940px; padding:0; background:#fff; border-radius:15px; height:30px; box-shadow:inset 0 3px 2px rgba(12, 10, 5, .06)}
.search-line-submit {float:left; padding:10px 0 0 20px}
.search-line-submit input {display:block; width:12px; height:12px; border:none; background:url(../images/header-search.png); margin:0; padding:0; outline:none; cursor:pointer; -webkit-appearance:none}
.search-line-submit input:hover {background-position:left -12px}
.search-line-submit input:active {background-position:left -24px}
.search-line-close {float:right; padding:11px 19px 0 0}
.search-line-close a {display:block; width:8px; height:8px; background:url(../images/search-line-close.png); opacity:.25}
.search-line-close a:hover {opacity:1}
.search-line-input {margin:0 43px}
.search-line-input input {float:left; width:100%; height:16px; margin:0; padding:9px 0 5px 0; outline:none; font:12px/16px P22UndergroundCYProBook, sans-serif; border:none; background:transparent; color:#000; -webkit-appearance:none}
.search-line-input input::-webkit-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.search-line-input input::-moz-placeholder {color:#000; opacity:1; text-transform:uppercase}
.search-line-input input:-ms-input-placeholder {color:#000; opacity:1; text-transform:uppercase}
.search-line-input input::-ms-clear {display:none}

@media (max-width:960px) {
    .search-line {padding:5px 30px}
}

.filter {margin:0 auto; max-width:940px; text-transform:uppercase; font:12px/15px P22UndergroundCYProBook, sans-serif; padding:10px 0 4px 0}
.filter:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.filter-left {float:left; position:relative}
.filter-right {float:right; position:relative}
.filter-name {float:left; font-family:P22UndergroundCYProDemi, sans-serif; color:#000}
.filter-links {float:left}
.filter-links a {float:left; color:#000; opacity:.5; margin:0 0 0 20px}
.filter-links a:hover {color:#fff; opacity:1; text-decoration:none}
.filter-links a.active {color:#fff; opacity:1; font-family:P22UndergroundCYProDemi, sans-serif}

@media (max-width:960px) {
    .filter {padding:5px 0}
    .filter-name {background:#fff; cursor:pointer; border-radius:17px; padding:11px 35px 7px 20px; width:145px; height:15px; white-space:nowrap; text-overflow:ellipsis; position:relative; overflow:hidden}
    .filter-open .filter-name {border-radius:17px 17px 0 0}
    .filter-name:after {content:""; display:block; width:11px; height:7px; background:url(../images/top-search-arrow.png); position:absolute; right:19px; top:13px}
    .filter-links {float:none; display:none; position:absolute; left:-2px; top:100%; background:#fff; width:100%; border:2px solid #8cc63e; border-radius:0 0 3px 3px; border-top:none; z-index:99}
    .filter-open .filter-links {display:block}
    .filter-links a {float:none; display:block; margin:0; padding:11px 20px 9px 20px}
    .filter-links a:hover,
    .filter-links a.active {background:#eef7e2; color:#000}
}

.similars {margin:0 -10px; font-size:0; line-height:0; letter-spacing:-1px}
.similar {display:inline-block; vertical-align:top; width:33.33%; padding:0 10px; box-sizing:border-box; margin:20px 0 0 0}
.similar-content {background:#fff; padding:0 0 43px 0}
.similar-photo img {width:100%}
.similar-text {padding:0 20px}
.similar-name {font:15px/20px P22UndergroundCYProDemi, sans-serif; letter-spacing:0; text-transform:uppercase; color:#000; padding:23px 0 0 0}
.similar-name a {color:#000}
.similar-text .events-detail-info {font-size:12px; line-height:15px; margin:19px 0 0 0; letter-spacing:0}
.similar-text .events-detail-info-item {padding:3px 0 2px 20px; margin:0; float:none}
.similar-text .events-detail-info-time {background:url(../images/events-detail-info-time-min.png) no-repeat left top}
.similar-text .events-detail-info-place {background:url(../images/events-detail-info-place-min.png) no-repeat 1px top}
.similar-anonce {font-size:12px; line-height:15px; letter-spacing:0; color:#000; padding:16px 0 0 0}
.similars-ctrl {display:none}

@media (max-width:960px) {
    .similar {float:none; display:none; width:100%}
    .similar:first-child {display:block}
    .similars-ctrl {display:block; font-size:0; line-height:0; letter-spacing:-1px; text-align:center; padding:30px 0 0 0}
    .similars-ctrl a {display:inline-block; vertical-align:top; width:6px; height:6px; border:2px solid #8cc63e; margin:0 3px; border-radius:20px}
    .similars-ctrl a:hover {border-color:#b1e46c}
    .similars-ctrl a:active {border-color:#87db15}
    .similars-ctrl a.active {background:#8cc63e; border-color:#8cc63e; width:12px; height:12px; margin-top:-3px}
}

.calendar {background:#fff; margin:40px 0 0 0}
.calendar-month {position:relative}
.calendar-month-current {text-align:center; color:#000; text-transform:uppercase; font:20px/24px P22UndergroundCYProDemi, sans-serif; padding:21px 0 14px 0}
.calendar-month-prev,
.calendar-month-next {position:absolute; top:24px; text-transform:uppercase; font:12px/15px P22UndergroundCYProMedium, sans-serif}
.calendar-month-prev {left:20px}
.calendar-month-next {right:20px}
.calendar-month-prev a:before {content:""; display:inline-block; vertical-align:top; width:12px; height:8px; background:url(../images/calendar-month-arrows.png); margin:1px 10px 0 0}
.calendar-month-next a:after {content:""; display:inline-block; vertical-align:top; width:12px; height:8px; background:url(../images/calendar-month-arrows.png) -12px top; margin:1px 0 0 10px}
.calendar-month-prev a:hover,
.calendar-month-next a:hover {text-decoration:none; color:#b1e46c}
.calendar-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.calendar-item {float:left; height:120px; box-sizing:border-box; border-top:1px solid #f0f0f0; position:relative; border-left:1px solid #f0f0f0; width:14.28%}
.calendar-item.open:before {content:""; display:block; position:absolute; left:0; top:0; width:100%; height:100%; border:2px solid #fff; box-sizing:border-box; background:#f9fcf5}
.calendar-item:nth-child(7n - 6) {border-left:none}
.calendar-item-day {position:absolute; right:10px; top:9px; color:#a3a3a3}
.calendar-item.active .calendar-item-day,
.calendar-item:nth-child(7n) .calendar-item-day,
.calendar-item:nth-child(7n - 1) .calendar-item-day {color:#8cc63e}
.calendar-item.active .calendar-item-day {font-weight:bold}
.calendar-item-content {
	position:absolute; 
	left:0; 
	bottom:11px; 
	width:100%; 
	box-sizing:border-box; 
	font-size:12px; 
	line-height:12px; 
	padding:0 5px 0 23px;
	max-height : 60px;
}
.calendar-item.expanded .calendar-item-content {
	bottom: auto;
    top: -7px;
    max-height: none;
    z-index: 3;
    background: white;
    left: -16px;
    border: 3px solid #8cc63e;
    width: 284px;
    padding : 52px 20px 12px 36px;
}
.calendar-item.more-than-3 .calendar-item-content {
	min-height : 60px;
}
.calendar-item .calendar-item-content .calendar-item-less {
	display : none;
	position : absolute;
    right: -14px;
    top: -13px;
    width: 28px;
    height: 28px;
    background: #8cc63e url(../images/calendar-popup-close.png) no-repeat center;
    border-radius: 14px;
    cursor : pointer;
}
.calendar-item .calendar-item-content .calendar-item-less:hover {
	background-color: #b1e46c;
}
.calendar-item.expanded .calendar-item-content .calendar-item-less {
	display : block;
}
.calendar-item.expanded .calendar-item-more2 {
	display : none;
}
.calendar-item-full-date {
	display : none;
	text-transform: uppercase;
	font-weight: bold;
	color: black;
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 13px;
}
.calendar-item.expanded .calendar-item-full-date {
	display : block;
}
.calendar-item-link {position:relative; padding:0; }
.calendar-item.expanded .calendar-item-link {position:relative; padding:0 0 8px 0}
.calendar-item-link:before {content:""; display:block; width:7px; height:7px; position:absolute; left:-13px; top:4px; background:#8cc63e}

.calendar-item-link > a {color:#000; line-height: 16px; white-space:nowrap; display:block; width:100%; position:relative; overflow:hidden; text-overflow:ellipsis}
.calendar-item.expanded .calendar-item-link >a {
	display: inline; line-height: 16px; white-space : normal;
}
.calendar-item.more-than-3 .calendar-item-link:nth-child(n+3) { opacity : 0; z-index: -2; }
.calendar-item.expanded .calendar-item-link:nth-child(n+3) {
	opacity : 1;
	z-index : 1;
}


.calendar-item-more {padding:0 0 8px 0}
.calendar-item-more > a {color:#777c80}
.calendar-item-more2 {padding:0 0 8px 0; position: absolute; top: 40px; z-index: 2;}
.calendar-item-more2 > a {color:#777c80}
.calendar-item-add {display:none; position:absolute; left:0; top:0; width:100%; height:100%; padding:27px 0 0 0; border:2px solid #fff; box-sizing:border-box; background:#f9fcf5; text-transform:uppercase; font:12px/15px P22UndergroundCYProMedium, sans-serif; text-align:center; color:#000}
.calendar-item-add:hover {text-decoration:none}
.calendar-item-add:before {content:""; display:block; margin:0 auto 17px auto; width:18px; height:21px; background:url(../images/main-list-icon-3.png)}
.calendar-item:hover .calendar-item-add {display:block}
.calendar-item-popup {position:absolute; left:50%; bottom:48px; width:260px; padding:0 18px; margin:0 0 0 -159px; border:2px solid #8cc63e; background:#fff; z-index:99; box-shadow:0 0 10px rgba(0, 0, 0, .15)}
.calendar-item-popup:before {content:""; display:block; width:0; height:0; border-top:12px solid #8cc63e; border-left:11px solid transparent; border-right:11px solid transparent; position:absolute; left:50%; bottom:-12px; margin:0 0 0 -11px}
.calendar-item-popup:after {content:""; display:block; width:0; height:0; border-top:10px solid #fff; border-left:10px solid transparent; border-right:10px solid transparent; position:absolute; left:50%; bottom:-8px; margin:0 0 0 -10px}
.calendar-item-popup-close {display:block; position:absolute; right:-14px; top:-13px; width:28px; height:28px; background:#8cc63e url(../images/calendar-popup-close.png) no-repeat center; border-radius:14px}
.calendar-item-popup-close:hover {background-color:#b1e46c}
.calendar-item-popup-close:active {background-color:#87db15}
.calendar-item-popup-loading {height:42px; background:url(../images/loading.gif) no-repeat center}

@media (max-width:960px) {
    .calendar-month-prev a:before,
    .calendar-month-next a:after {display:none}
    .calendar-item-content {font-size:9px; padding:0 4px}
    .calendar-item-link {padding:0 0 5px 0}
    .calendar-item-link > a {white-space:nowrap; display:block; width:100%; border:1px solid #c5e29e; background:#f0f8e7; padding:2px 2px 4px 2px; box-sizing:border-box; position:relative; overflow:hidden; text-overflow:ellipsis}
    .calendar-item-link:before {display:none}
    .calendar-item-add {font-size:9px; line-height:10px}
}

.calendar-detail {padding:0 0 18px 0}
.calendar-detail-name {font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; color:#000; padding:19px 0 0 0}
.calendar-detail-name a {color:#000}
.calendar-detail .events-detail-info {font-size:12px; line-height:15px; margin:10px 0 0 0; letter-spacing:0}
.calendar-detail .events-detail-info-item {padding:3px 0 2px 20px; margin:0; float:none}
.calendar-detail .events-detail-info-time {background:url(../images/events-detail-info-time-min.png) no-repeat left top}
.calendar-detail .events-detail-info-place {background:url(../images/events-detail-info-place-min.png) no-repeat 1px top}
.calendar-detail-anonce {font-size:12px; line-height:15px; padding:14px 0 26px 0}
.calendar-detail-link {padding:0 0 10px 0}
.calendar-detail-link a {width:100%}

.registration {max-width:460px; margin:0 auto}
.registration h1 {text-align:center; padding:13px 0 22px 0}
.registration .form-label {width:110px}
.form-registration-ctrl {margin:-12px 0 0 0}
.form-registration-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-registration-forgot {float:left; padding:11px 0 0 110px}
.form-registration-ctrl .form-submit .btn {width:auto; padding-left:30px; padding-right:30px}
.form-registration-link {color:#000; padding:37px 0 0 110px}

@media (max-width:960px) {
    .form-registration-forgot {float:none; padding:10px 0; text-align:center}
    .form-registration-ctrl .form-submit .btn {width:100%; padding-left:0; padding-right:0}
    .form-registration-link {padding:37px 0 0 0; text-align:center}
}

.cabinet-menu {text-align:center; text-transform:uppercase; font:12px/15px P22UndergroundCYProMedium, sans-serif; padding:34px 0 0 0}
.cabinet-menu ul {margin:0; padding:0; list-style:none; display:inline-block; vertical-align:top}
.cabinet-menu ul li {float:left; margin:0 15px; padding:0}
.cabinet-menu ul li:before {display:none}
.cabinet-menu ul li a {color:#000; display:block; padding:0 5px 5px 5px}
.cabinet-menu ul li a:hover,
.cabinet-menu ul li.active a {border-bottom:6px solid #8cc63e; text-decoration:none}
.cabinet-content {background:#fff; padding:20px}
.cabinet-list-header:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.cabinet-list-title {float:left; color:#000; font:20px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; padding:15px 0 0 0}
.cabinet-list-btn {float:right}
.cabinet-list-btn .btn {width:300px}
.cabinet-list-btn .btn img {vertical-align:middle; margin:-6px 7px 0 0}

@media (max-width:480px) {
    .cabinet-list-btn .btn {width:auto; padding-left:10px; padding-right:10px}
    .cabinet-list-btn .btn img {display:none}
}

.cabinet-content .articles {margin:0}
.cabinet-content .articles-list {margin:0 -10px}
.cabinet-content .article {margin:20px 0 0 0}
.cabinet-content .article-content {background:#fafafa; padding:20px; position:relative}
.cabinet-content .article-apply .article-content {background:#f4f9ee}
.cabinet-content .article-cancel .article-content {background:#fff8f8}
.article-status {color:#000; font-size:14px; line-height:20px; letter-spacing:0; text-align:center; border:1px dashed #959595; padding:8px 0 9px 0}
.cabinet-content .article-apply .article-status {border-color:#8cc63e}
.cabinet-content .article-cancel .article-status {border-color:#c34949}
.article-btn .btn {width:100%; letter-spacing:0}
.article-btn .btn img {vertical-align:middle; margin:-6px 7px 0 0}
.article-add .article-content {background:#fff; padding:19px 20px 59px 20px; border:1px solid #eef7e2}
.article-add-link {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; color:#000; text-transform:uppercase; font:12px/15px P22UndergroundCYProMedium, sans-serif; letter-spacing:0}
.article-add-link:hover {text-decoration:none}
.article-add-link span {display:block; position:absolute; left:0; width:100%; top:50%; margin-top:-32px}
.article-add-link span img {display:block; margin:0 auto 26px auto}
.cabinet-content .article .similar-name {padding:26px 0 0 0}
.cabinet-content .article .events-detail-info {font-size:12px; line-height:15px; margin:19px 0 0 0; letter-spacing:0}
.cabinet-content .article .events-detail-info-item {padding:3px 0 2px 20px; margin:0; float:none}
.cabinet-content .article .events-detail-info-time {background:url(../images/events-detail-info-time-min.png) no-repeat left top}
.cabinet-content .article .events-detail-info-place {background:url(../images/events-detail-info-place-min.png) no-repeat 1px top}

@media (max-width:960px) {
    .cabinet-content .article {width:33.33%}
}

@media (max-width:480px) {
    .cabinet-content .article {width:50%}
    .article-btn .btn img {display:none}
}

.profile-photo {line-height:0; padding:20px 0 0 0}
.profile-photo-inner {margin:0 auto; position:relative; width:220px; height:220px; overflow:hidden}
.profile-photo-inner span {display:block; width:41px; height:41px; position:absolute; right:10px; bottom:10px; background:url(../images/reload.png); cursor:pointer}
#newAvaForm{position:absolute; left:-100000px}

.profile-name {font:20px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; color:#000; text-align:center; padding:33px 0 0 0}
.profile-email {text-align:center; color:#000; padding:5px 0 0 0}
.profile-edit-link {text-align:center; padding:32px 0 0 0}
.profile-edit-link .btn img {vertical-align:middle; margin:-6px 7px 0 0}

.events {width:100%; height:171px; position:relative; overflow:hidden; white-space:nowrap; font-size:0; line-height:0}
.events-list {display:inline-block; position:relative; vertical-align:top; left:0}
.events-month {display:inline-block; vertical-align:top; border-left:1px solid #f0f0f0; height:160px}
.events-month:first-child {border:none}
.events-month-title {font:15px/20px P22UndergroundCYProDemi, sans-serif; letter-spacing:0; text-transform:uppercase; color:#000; background:#fff; height:39px; position:relative}
.events-month-title div {position:absolute; top:14px}
.events-month-content {height:121px; background:#fff}
.events-item {display:inline-block; vertical-align:top; width:133px; height:120px; border-top:1px solid #f0f0f0; border-left:1px solid #f0f0f0; position:relative}
.events-item:first-child {border-left:none}
.events-item.active {z-index:2}
.events-item.active:before {content:""; display:block; width:100%; height:100%; padding:1px 1px 0 1px; position:absolute; left:-1px; top:-1px; background:#8cc63e}
.events-item.active:after {content:""; display:block; width:0; height:0; position:absolute; left:0; bottom:-11px; border-top:11px solid #8cc63e; border-left:66px solid transparent; border-right:66px solid transparent}
.events-item-day {position:absolute; right:10px; top:9px; color:#a3a3a3; font-size:14px; line-height:20px; letter-spacing:0}
.events-item.full .events-item-day,
.events-item.weekend .events-item-day {color:#8cc63e}
.events-item.full .events-item-day {font-weight:bold}
.events-item.active .events-item-day {color:#000; font-weight:bold}
.events-item-content {position:absolute; left:0; bottom:11px; width:100%; box-sizing:border-box; font-size:12px; line-height:12px; letter-spacing:0; padding:0 5px 0 23px; white-space:normal}
.events-item-link {position:relative; padding:0 0 8px 0}
.events-item-link:before {content:""; display:block; width:7px; height:7px; position:absolute; left:-13px; top:4px; background:#8cc63e}
.events-item.active .events-item-link:before {background:#000}
.events-item-link > a {color:#000}
.events-item-more {padding:0 0 8px 0}
.events-item-more > a {color:#777c80}
.events-prev,
.events-next {display:block; width:39px; height:39px; background:#8cc63e url(../images/events-arrows.png); z-index:3; position:absolute; top:81px; border-radius:20px}
.events-prev {left:44px}
.events-next {right:44px; background-position:-39px top}
.events-prev:hover,
.events-next:hover {background-color:#b1e46c}
.events-prev:active,
.events-next:active {background-color:#87db15}

.search-mark {color:#8cc63e}
.search-mark-bg {background:#8cc63e; display:inline-block; padding:0 2px}

.press {padding:20px 0 0 0}
.press-item {border-bottom:1px solid #eaeaea; display:table; width:100%}
.press-item-photo {display:table-cell; vertical-align:top; padding:20px 20px 20px 0; line-height:0; width:220px}
.press-item-content {display:table-cell; vertical-align:middle; padding:20px 0}
.press-item-name {font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; color:#000}
.press-item-name a {color:#000}
.press-item-anonce {padding:7px 0 0 0; font-size:14px; line-height:20px; letter-spacing:0}
.press-item-source {color:#b2b2b2; padding:20px 0 0 0; font-size:14px; line-height:20px; letter-spacing:0}
h2+.press-item-source {margin:-34px 0 30px 0}

@media (max-width:960px) {
    .press-item-photo {display:block; width:auto; text-align:center}
    .press-item-content {display:block}
}

.top-back-link {float:left; margin:9px 17px 0 0; font:35px/35px P22UndergroundCYProDemi, sans-serif}

.press-ctrl {border-bottom:2px solid #8cc63e; padding:20px 0 17px 0; margin:0 0 15px 0}
.press-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.press-ctrl .press-item-source {float:left; padding:0}
.social-likes {float:right}

.top-back-calendar {float:right; text-transform:uppercase; font:15px/20px P22UndergroundCYProBook, sans-serif; padding:13px 0 0 0}

@media (max-width:960px) {
    .top-back-calendar {float:none}
}

.add-event .form-label {width:160px}
.add-event .form-required-text {float:left; padding:10px 0 0 160px; margin:0}
.add-event .form-submit {float:right; margin:0}

@media (max-width:960px) {
    .add-event .form-required-text {float:none; padding:10px 0; text-align:center}
    .add-event .form-submit {float:none}
}

.form-photo {float:left; width:79px; height:79px; position:relative; overflow:hidden; border-radius:2px; margin:0 0 0 11px}
.form-photo img {border-radius:2px; width:100%; height:100%}
.form-photo:first-child {margin:0}
.form-photo-add {display:block; width:79px; height:79px; border-radius:2px; background:#8cc63e url(../images/photo-add.png) no-repeat 18px 22px}
.form-photo-add:hover {background-color:#b1e46c}
.form-photo-add:active {background-color:#87db15}
#newPhotoForm {position:absolute; left:-100000px}
.form-photo-loading {display:block; width:79px; height:79px; border-radius:2px; background:#8cc63e url(../images/photo-loader.gif) no-repeat center}

.territory {position:relative; min-height:400px; overflow:hidden}
.territory:after {content:""; display:block; width:100%; height:1px; position:absolute; left:0; top:-1px; background:#fff; box-shadow:0 0 5px rgba(12, 10, 5, .18)}

#map.map-territory {position:absolute; left:0; top:0; width:100%; height:100%}
.main-tabs-content-1 .territory {height:660px}
.main-tabs-content-1 #map.map-territory {height:660px}

.popover {width:260px; padding:20px; position:relative; background:#fff; box-shadow:0 0 5px rgba(12, 10, 5, .18); z-index:999; border: 2px solid #8cc63e;}
.popover-territory {color:#000}
.popover-img {line-height:0}
.popover-link {padding:34px 0 0 0}
.popover-link .btn {width:100%}
.popover .arrow {position:absolute; left:-12px; top:23px; width:0; height:0; border-right:12px solid #8cc63e; border-top:12px solid transparent; border-bottom:12px solid transparent}
.popover .arrow:after { content: " "; position: absolute; left: 3px; top: -12px; width: 0; height: 0; border-right: 12px solid #fff; border-top: 12px solid transparent; border-bottom: 12px solid transparent;}
.popover .close {
	position : absolute;
    right: -14px;
    top: -13px;
    width: 28px;
    height: 28px;
    background: #8cc63e url(../images/calendar-popup-close.png) no-repeat center;
    border-radius: 14px;
}
.popover .close:hover {
	background-color: #b1e46c;
}
.territory-search {position:absolute; left:40px; top:40px; width:320px; height:40px; background:#fff; box-shadow:0 0 5px rgba(12, 10, 5, .18); border-radius:2px}
.territory-search form {margin:0; padding:0}
.territory-search-input {float:left}
.territory-search-input input {vertical-align:top; margin:0; padding:10px 15px; outline:none; width:260px; height:20px; font:14px/20px "Open Sans", sans-serif; border:none; background:transparent; color:#000; -webkit-appearance:none}
.territory-search-input input::-webkit-input-placeholder {color:#000; opacity:.5}
.territory-search-input input::-moz-placeholder {color:#000; opacity:.5}
.territory-search-input input:-ms-input-placeholder {color:#000; opacity:.5}
.territory-search-submit {float:right; padding:13px 14px 0 0}
.territory-search-submit input {display:block; width:15px; height:15px; border:none; background:url(../images/territory-search.png); margin:0; padding:0; outline:none; cursor:pointer; -webkit-appearance:none}
.territory-search-submit input:hover {background-position:left -15px}
.territory-search-submit input:active {background-position:left -30px}

@media (max-width:960px) {
    .territory-search {left:30px; top:20px; width:420px}
}

.territory-filter {position:absolute; left:40px; top:100px; width:300px; padding:10px; background:#fff; box-shadow:0 0 5px rgba(12, 10, 5, .18); border-radius:2px}
.main-tabs-content-1 .territory-filter {top:40px}
.territory-filter form {margin:0; padding:0}
.territory-filter-list {max-height:450px; margin:20px 0 0 0; position:relative; overflow:hidden}
.territory-filter-list-content {width:280px}
.territory-filter-group {padding:20px 0 0 0}
.territory-filter-group:first-child {padding:0}
.territory-filter-group-title {cursor:pointer; display:table; width:100%}
.territory-filter-group-icon {display:table-cell; vertical-align:middle; width:38px}
.territory-filter-group-icon:after {content:""; display:block; width:38px; height:38px; background:url(../images/territory-filter-group-icon.png)}
.territory-filter-group-name {display:table-cell; vertical-align:middle; width:206px; padding:10px 10px 0 10px; text-transform:uppercase; color:#000; font:14px/20px P22UndergroundCYProMedium, sans-serif}
.territory-filter-group-name span {color:#8cc63e; margin:0 0 0 5px}
.territory-filter-group-name em {font-style:normal}
.territory-filter-group-ctrl {display:table-cell; vertical-align:middle; width:16px}
.territory-filter-group-ctrl:after {content:""; display:block; width:16px; height:16px; background:url(../images/territory-filter-group.png) no-repeat left -16px}
.territory-filter-group.open .territory-filter-group-ctrl:after {background-position:left top}
.territory-filter-group-list {display:none}
.territory-filter-group.open .territory-filter-group-list {display:block}
.territory-filter-item {display:table; width:100%; cursor:pointer; margin:10px 0 0 0}
.territory-filter-item-icon {display:table-cell; vertical-align:middle; width:38px; line-height:0}
.territory-filter-item-icon div {padding:3px; border:1px solid #e2e2e2; border-radius:20px; width:30px; height:30px}
.territory-filter-item-icon div img {border-radius:15px; opacity:.5}
.territory-filter-item:hover .territory-filter-item-icon div,
.territory-filter-item.checked .territory-filter-item-icon div {border-color:#8cc63e}
.territory-filter-item.checked .territory-filter-item-icon div img {opacity:1}
.territory-filter-item-icon-name {display:table-cell; vertical-align:middle; padding:0 0 0 10px; color:#777c80; font-size:12px; line-height:15px}
.territory-filter-item-icon-name input {display:none}
.territory-filter-item:hover .territory-filter-item-icon-name,
.territory-filter-item.checked .territory-filter-item-icon-name {color:#000}
.territory-filter-close {display:none}

@media (max-width:960px) {
    .territory-filter {left:30px; top:70px; width:400px}
    .territory-filter-close {display:block; margin:0 -10px; padding:23px 0 21px 0; position:relative; top:-10px; background:#8cc63e; color:#000; text-transform:uppercase; font:12px/15px P22UndergroundCYProMedium, sans-serif; text-align:center}
    .territory-filter-close:hover {background:#b1e46c; text-decoration:none}
    .territory-filter-close:active {background:#87db15}
    .territory-filter.close form {position:absolute; left:-9999px; top:-9999px}
}

.search-title {font-size:15px; color:#000; padding:19px 0 0 0}
.search-title span {color:#8cc63e}
.search-results-group {border-top:3px solid #8cc63e; margin:70px 0 0 0}
.search-results-group:first-child {border:none; margin:0}

.search-event {border-top:1px solid #eaeaea}
.search-event:first-child {border:none}
.search-event h3 {margin:22px 0 0 0}
.search-event h3 a {color:#000}
.search-event .events-detail-info {font-size:12px; line-height:15px; margin:0 0 0 -20px; letter-spacing:0}
.search-event .events-detail-info-item {padding:3px 0 2px 20px}
.search-event .events-detail-info-time {background:url(../images/events-detail-info-time-min.png) no-repeat left top}
.search-event .events-detail-info-place {background:url(../images/events-detail-info-place-min.png) no-repeat 1px top}

.team-row {border-top:1px solid #e1e1e1; padding:30px 0 10px 0}
h2+.team-row {border-top:none; padding-top:0}
.team-row:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.team-photo {float:left; width:140px; line-height:0}
.team-container {margin:0 0 0 160px}
.team-container h3 {margin-top:3px; margin-bottom:0}
.team-post {font-style:italic}

@media (max-width:480px) {
    .team-photo {text-align:center; float:none}
    .team-container {margin:0}
}

.contacts-cols-inner {font-size:0; line-height:0; letter-spacing:-1px}
.contacts-col {display:inline-block; width:100%; vertical-align:top; box-sizing:border-box; padding:0 0 30px 0; letter-spacing:0; font-size:14px; line-height:20px; border-bottom:1px solid #e1e1e1}
.contacts-cols-all .contacts-col {width:50%; padding:0 10px 30px 0; border-bottom:none}
.contacts-cols-all .contacts-col:nth-child(even) {padding:0 0 30px 10px}
.contacts-cols-all .contacts-col+.contacts-col+.contacts-col {border-top:1px solid #e1e1e1}
.contacts-col table {width:100%; border-collapse:collapse; border-bottom:none; margin:0}
.contacts-col table td {vertical-align:top; padding:0 0 10px 0; border:none; width:100%}
.contacts-col table td:first-child {color:#808080; padding:0 20px 10px 0; white-space:nowrap; width:auto}

@media (max-width:960px) {
    .contacts-cols-all .contacts-col {width:100%; padding:0 0 30px 0}
    .contacts-cols-all .contacts-col:nth-child(even) {padding:0 0 30px 0}
    .contacts-cols-all .contacts-col+.contacts-col {border-top:1px solid #e1e1e1}
}

.tours {font-size:0; line-height:0; letter-spacing:-1px; margin:0 -10px}
.tour {display:inline-block; vertical-align:top; width:25%; box-sizing:border-box; padding:20px 10px 0 10px}
.tour a {color:#000; background:#fff; display:block; padding:20px}
.tour-photo img {width:100%}
.tour-name {font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; letter-spacing:0; padding:24px 0 0 0}

@media (max-width:960px) {
    .tour {width:33.33%}
}

@media (max-width:600px) {
    .tour {width:50%}
}

.gallery-tours {margin:50px -10px; font-size:0; line-height:0; letter-spacing:-1px}
.gallery-item {display:inline-block; vertical-align:top; width:25%; box-sizing:border-box; padding:20px 10px 0 10px}
.gallery-item-photo {background:#fff; display:block; padding:20px}
.gallery-item-photo img {width:100%}
.gallery-item-name {display:none}

@media (max-width:960px) {
    .gallery-tours {margin:50px -10px}
    .gallery-item {background:#fff; width:100%; display:block}
    .gallery-item-name {display:block; font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; letter-spacing:0; padding:0 20px}
}

.item-gallery {position:fixed; left:-9999px; top:0; width:100%; height:100%; z-index:99997; overflow:auto; background:rgba(4, 19, 5, .9)}
.item-gallery-open {left:0}
.item-gallery-container {position:relative; width:940px; margin:0 auto}
.item-gallery-group {font:15px/20px P22UndergroundCYProDemi, sans-serif; text-transform:uppercase; text-align:center; color:#fff; padding:50px 0 0 0}
.item-gallery-title {font:15px/20px P22UndergroundCYProBook, sans-serif; text-transform:uppercase; text-align:center; color:#8cc63e; padding:2px 0 23px 0}
.item-gallery-big {text-align:center; font-size:0; line-height:0; position:relative}
.item-gallery-big strong {visibility:hidden; position:relative; display:inline-block; vertical-align:middle}
.item-gallery-big strong img {vertical-align:top}
.item-gallery-prev,
.item-gallery-next {display:block; width:80px; height:100%; position:absolute; top:0; background:rgba(4, 19, 5, .9); opacity:0}
.item-gallery-prev:hover,
.item-gallery-next:hover {opacity:1}
.item-gallery-prev span,
.item-gallery-next span {display:block; width:28px; height:49px; position:absolute; left:50%; top:50%; margin:-25px 0 0 -14px; background:url(../images/item-gallery-arrows.png)}
.item-gallery-prev {left:0}
.item-gallery-next {right:0}
.item-gallery-next span {background-position:-28px top}
.item-gallery-close {display:block; position:absolute; right:-15px; top:-15px; width:29px; height:29px; background:#8cc63e url(../images/search-line-close.png) no-repeat center; border-radius:15px}
.item-gallery-close:hover {background-color:#b1e46c}
.item-gallery-close:active {background-color:#87db15}
.item-gallery-big img {vertical-align:middle; position:relative; box-shadow:0 0 13px rgba(0, 0, 0, .2)}
.item-gallery-list {width:936px; line-height:0; position:relative; overflow:hidden}
.item-gallery-list ul {position:relative; margin:0; padding:30px 0; list-style:none; width:9999px}
.item-gallery-list ul:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.item-gallery-list ul li {float:left; margin:0 1px; padding:3px; position:relative}
.item-gallery-list ul li:before {display:none}
.item-gallery-list ul li.active {padding:0; border:3px solid #8cc63e}
.item-gallery-list-prev,
.item-gallery-list-next {position:absolute; top:33px; display:block; width:70px; height:70px; background:#8cc63e}
.item-gallery-list-prev {left:4px}
.item-gallery-list-next {right:4px}
.item-gallery-list-prev:hover,
.item-gallery-list-next:hover {background:#b1e46c}
.item-gallery-list-prev:active,
.item-gallery-list-next:active {background:#87db15}
.item-gallery-list-prev span,
.item-gallery-list-next span {display:block; width:13px; height:22px; position:absolute; left:50%; top:50%; margin:-11px 0 0 -7px; background:url(../images/item-gallery-list-arrows.png)}
.item-gallery-list-next span {background-position:-13px top}
.item-gallery-loading {position:absolute; left:-15px; top:-15px; padding:15px; width:100%; height:100%; background:rgba(0, 0, 0, .2) url(../images/gallery-loading.gif) no-repeat center}
.item-gallery-load {position:absolute; left:-9999px; top:-9999px; visibility:hidden}